body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    background-color: darkgray;
}
body::-webkit-scrollbar-thumb {
    background-color: #2F2F2F;
    opacity: 0.9;
    outline: none;
    border: none;
}