/* Hero section of the main page */
.hero {
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-color: #2F2F2F;
    background-image: url('../images/circuit-board.svg');
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The white box with the hero content */
.hero-cont {
    text-align: center;
    height: max-content;
    margin: 25px;
    font-size: 1.75em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 25px;
    user-select: none;
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.6);
}
.hero-cont h2 {
    font-size: 1.25em;
}
.hero-cont > * { margin: 7.5px; }

/* The hero button and the project buttons lower in the page */
#hero-btn, .proj-btn {
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    margin: 5px;
    background-color: black;
    position: relative;
    color: white;
    transition: background-color 0.5s ease;
    margin-top: auto;
}
#hero-btn:hover, .proj-btn:hover {
    background-color: darkblue;
}
#hero-btn::after, .proj-btn::after {
    content: "";
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    padding: 1px;
    transition: opacity 0.5s ease, transform 0.5s ease, padding 0s ease;
}
#hero-btn:hover::after, .proj-btn:hover::after {
    content: "➤";
    opacity: 1;
    padding: 0px;
    transform: translateX(2.5px);
}
.proj-btn {
    font-size: 1rem;
    font-weight: bold;
    margin: 12px;
}

/* The arrow that scrolls the user down when clicked */
.hero-arrow {
    border-radius: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 75px;
    height: 75px;
    color: #2F2F2F;
    transition-property: background-color, opacity, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    left: calc(50% - 75px);
}
.hero-arrow:hover {
    background-color: #2F2F2F;
    opacity: 0.9;
    color: #FFF;
}
.hero-arrow > a { color: inherit; text-decoration: none;}


/* Abandoned stars */
.stars {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 8;
    animation: blink 6s infinite;
}
@keyframes blink {
    0% { opacity: 0.8; }
    50%, 60%, 70% { opacity: 0; }
    90%, 100% { opacity: 0.8; }
}


/* Not really a card, but each individual page */
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 100px);
    min-height: fit-content;
    height: 100vh;
    padding: 2.5em;
    background-color: #eee;
}
.c-span, .c-proj {
    height: fit-content;
    text-align: center;
    grid-column: span 2;
}
.c-head { font-size: 3rem; }
.c-proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    gap: 10px;
    margin-top: 1.5em;
}
.c-left {
    text-align: center;
    justify-items: center;
    padding: 12px;
}

/* The about me left side */
#about-img-cont > img {
    width: 100%;
    box-shadow: 5px 5px 50px black;
    border: 2px solid black;
    max-height: 75vh;
    aspect-ratio: 3/4;
}
#gh-about-link { text-decoration: none; }
.about-btn {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-content: baseline;
    margin: 0 auto;
}
.about-btn > * { margin: 2px; }

/* The about me right side */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1.25rem;
}
.about-cont {
    padding: 12px;
    margin: 0 auto;
}
.about-cont > * { margin: 2.5em; }
.about-para > p { font-size: 1.3em; }
.about-lang {
    text-align: center;
    margin-top: 2em;
}
.about-lang > h3 { font-size: 2rem; }
.about-lang > p {
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 5px;
    color: white;
    width: fit-content;
    margin: 2px 0;
    padding: 12px;
    box-shadow: 1px 1px 10px black;
    transition: transform 0.5s ease;
}
.about-lang > p:hover { transform: scale(1.2); }


/* Projects page */
.proj-card {
    background-color: #fff;
    padding: 6px;
    border-radius: 15px;
    display: flex;
    box-shadow: 10px 10px 50px gray;
}
.proj-card > * { margin: 6px; }
.proj-thumbnail { width: fit-content; align-self: center; margin-right: 20px;}
.proj-thumbnail-img { width: 100px; }
.black { filter: brightness(0) saturate(100%); }
.proj-desc > p { text-align: left; }
.proj-desc > h3 { font-size: 1.5em; margin: 6px; }
#seemore { width: 50%; }


/* Any and all media queries */
@media (orientation: landscape) and (max-width: 786) {
    #about-img-cont > img { display: none; }
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(auto, 100px);
    }
    .c-span, .c-proj {
        grid-column: span 1;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 786px) {
    .hero-arrow {
        display: none;
    }
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(auto, 100px);
    }
    .c-span, .c-proj {
        grid-column: span 1;
        grid-template-columns: 1fr;
    }
    .glorious-three {
        display: none;
    }
    .about-cont > * { margin: 12px; }
    .about-btn { align-items: center; }
    #seemore { width: 75%; }

}

@media (max-width: 550px) {
    .proj-card { flex-direction: column;  margin: 6px; }
    .proj-thumbnail { margin: 0 auto; }
    .about-para > p { font-size: 1.2rem; }
}