.hero {
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-color: gray;
    background-image: url('../images/topography.svg');
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-cont {
    text-align: center;
    height: max-content;
    margin: 25px;
    font-size: 1.75em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 25px;
    user-select: none;
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.6);
}
.hero-cont h2 {
    font-size: 1.25em;
}
.hero-cont > * { margin: 7.5px; }
#hero-btn, .proj-btn {
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    margin: 5px;
    background-color: black;
    position: relative;
    color: white;
    transition: background-color 0.3s ease;
}
#hero-btn:hover, .proj-btn:hover {
    background-color: darkblue;
}
#hero-btn::after, .proj-btn::after {
    content: "";
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    padding: 1px;
    transition: opacity 0.3s ease, transform 0.3s ease, padding 0s ease;
}
#hero-btn:hover::after, .proj-btn:hover::after {
    content: "➤";
    opacity: 1;
    padding: 0px;
    transform: translateX(2.5px);
}
.proj-btn {
    font-size: 1rem;
    font-weight: bold;
    margin: 12px;
}

.stars {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 8;
    animation: blink 6s infinite;
}
@keyframes blink {
    0% { opacity: 0.8; }
    50%, 60%, 70% { opacity: 0; }
    90%, 100% { opacity: 0.8; }
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 100px);
    min-height: fit-content;
    height: 100vh;
    padding: 2.5em;
    background-color: #eee;
}
.c-span, .c-proj {
    height: fit-content;
    text-align: center;
    grid-column: span 2;
}
.c-head { font-size: 3rem; }
.c-proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    gap: 10px;
    margin-top: 1.5em;
}

.c-left {
    text-align: center;
    justify-items: center;
    padding: 12px;
}
#about-img-cont > img {
    width: 100%;
    box-shadow: 5px 5px 50px black;
    border: 2px solid black;
    max-height: 75vh;
}
#gh-about-link { text-decoration: none; }
.about-btn {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-content: baseline;
    margin: 0 auto;
}
.about-btn > * { margin: 2px; }

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1.25rem;
}
.about-cont {
    padding: 12px;
    margin: 0 auto;
}
.about-cont > * { margin: 2.5em; }
.about-para > p { font-size: 1.3em; }
.about-lang {
    text-align: center;
    margin-top: 2em;
}
.about-lang > h3 { font-size: 2rem; }
.about-lang > p {
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 5px;
    color: white;
    width: fit-content;
    margin: 2px 0;
    padding: 12px;
    box-shadow: 1px 1px 10px black;
    transition: transform 0.5s ease;
}
.about-lang > p:hover {
    transform: scale(1.2);
}

.proj-card {
    background-color: #fff;
    padding: 6px;
    border-radius: 15px;
    display: flex;
    box-shadow: 10px 10px 50px gray;
}
.proj-card > * { margin: 6px; }
.proj-thumbnail { width: fit-content; align-self: center; margin-right: 20px;}
.proj-thumbnail-img { width: 100px; }
.black { filter: brightness(0) saturate(100%); }
.proj-desc > p { text-align: left; }
.proj-desc > h3 { font-size: 1.5em; margin: 6px; }
#seemore { width: 50%; }

@media (max-width: 786px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(auto, 100px);
    }
    .c-span, .c-proj {
        grid-column: span 1;
        grid-template-columns: 1fr;
    }
    .glorious-three {
        display: none;
    }
    .about-cont > * { margin: 12px; }
    .about-btn { align-items: center; }
    #seemore { width: 75%; }

}

@media (max-width: 550px) {
    .proj-card { flex-direction: column;  margin: 6px; }
    .proj-thumbnail { margin: 0 auto; }
    .about-para > p { font-size: 1.2rem; }
}